*{
    box-sizing: border-box;
}
body{
    padding: 0px;
    margin: 0px;
    background-color: black;
    color: aliceblue;
}
.content{
    margin: auto;
    width: 100%;
    padding: 20px 25px;
    color: aliceblue;
}